<script>
export default {
  props: ['percent', 'title']
}
</script>

<template>
  <div class="contents">
    <p class="subtitle is-6 has-text-grey-light">{{ title }}
    </p>
    <div class="wrap-circles">
      <div class="circle" :style="'background-image: conic-gradient(#c7794c, ' + percent +', #2c2c3b 0)'">
        <div class="inner">{{ percent }}</div>
      </div>
    </div>
  </div>
</template>

<style>
.wrap-circles {
  padding: 15px 0 0 0;
}
.circle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #FFCDB2;
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #3f4452;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}
</style>
