<script>
export default {
  props: ['name']
}
</script>

<template>
          <div class="box has-background-grey-light">
            <a href="/#" class="has-text-grey-dark">
              <div class="box-content">
                <p>{{name}}</p>
                <i class="fa-solid fa-angle-right"></i>
              </div>
            </a>
          </div>
</template>

<style>
.box-content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
</style>
