<script>
import CircleBar from './components/CircleBar.vue';
import FavoriteBox from './components/FavoriteBox.vue'
export default {
  data() {
    return {
    }
  },
  components: {
    FavoriteBox,
    CircleBar
}
}
</script>

<template>
  <div class="container">
    <div class="small-empty-space"></div>
    <div class="box box-bg">

      <div class="columns">
        <div class="column is-2">
          <figure class="image is-128x128">
            <img src="./assets/avatar.jpg">
          </figure>
        </div>
        <div class="column">
          <div class="name-content">
            <div class="square-lvl">
              <div class="lvl has-text-grey-lighter">80 lvl</div>
            </div>
            <h3 class="subtitle is-3 has-text-grey-lighter">DenisDev</h3>
          </div>
          <div class="small-empty-space"> </div>
          <div class="columns">
            <div class="column">
              <span class="subtitle is-6 has-text-grey-lighter"><span class="has-text-grey-light">Имя:
                </span>Денис</span>
              <p class="subtitle is-6 has-text-grey-lighter"><span class="has-text-grey-light">Класс: </span>Высший
                класс
              </p>
            </div>

            <div class="column">
              <span class="subtitle is-6 has-text-grey-lighter"><span class="has-text-grey-light">Зарегистрирован:
                </span>30 января</span>
              <p class="subtitle is-6 has-text-grey-lighter"><span class="has-text-grey-light">Последняя активность:
                </span>10 минут назад
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box box-bg">
      <div class="columns">
        <div class="column is-2">
          <figure class="image is-64x64">
            <img src="./assets/chart.png">
          </figure>
        </div>
        <div class="column">
          <p class="subtitle is-3 has-text-grey-lighter">Статистика</p>
          <div class="columns">
            <div class="column">
              <CircleBar title="Просмотрено теории" percent="25%"/>
            </div>
            <div class="column">
              <CircleBar title="Решено задач" percent="43%"/>
            </div>
            <div class="column">
              <CircleBar title="80 lvl" percent="95%"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box box-bg">

      <div class="columns">
        <div class="column is-2">
          <figure class="image is-64x64">
            <img src="./assets/favorite.png">
          </figure>
        </div>
        <div class="column">
          <p class="subtitle is-3 has-text-grey-lighter">Избранные задачи</p>
          <FavoriteBox name="Второй закон Ньютона"/>
          <FavoriteBox name="Молекулярная физика"/>
        </div>
      </div>
    </div>

  </div>
</template>

<style>
@import "bulma/css/bulma.min.css";

html {
  background: #1F2330;
}
a {
  text-decoration: none;
}



.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contents .subtitle {
  margin: 0;
}

.square-lvl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 50px;
  background: #2f0e01;
  border: 10px double #8b3c00;
  border-radius: 5px;
  color: white;
  margin: 0 10px 0 0;
}

.name-content {
  display: flex;
  align-items: center;
  background-color: #5a5e6a;
  border-radius: 5px;
  width: 300px;
}

.box-bg {
  background-color: #3f4452;
}

.empty-space {
  height: 50px;
}

.small-empty-space {
  height: 20px;
}
</style>
